{{ ansible_managed | comment }}
# Temporary HTTP-only vhost for certbot HTTP-01 challenge.

server {
    listen 80;
    listen [::]:80;
    server_name {{ panel_domain }};

    location /.well-known/acme-challenge/ {
        root {{ certbot_webroot }};
    }

    location / {
        return 503 "cert provisioning in progress\n";
    }
}
