[defaults]
inventory = inventory/production/hosts.yml
roles_path = roles
collections_path = .galaxy/collections
host_key_checking = True
forks = 10
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .galaxy/fact_cache
fact_caching_timeout = 7200
stdout_callback = default
result_format = yaml
callbacks_enabled = profile_tasks
retry_files_enabled = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False
